<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fabric Care</title>
    
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
            body{
            background-color:rgb(48,125,193);
            }

            #anim{
            float: right;
            width: 50%;
            height: 50%;
            }

            .desc{
            width: 50%;
            color: white;
            float: left;
            display: block;
            text-align: justify;
            }

            h1{
            font-size: 8.2vw;
            }

            h2{
            font-size: 2.4vw;
            }

            .container{
            padding: 30vh 0 20vh 0;
            }

    </style>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar fixed-top">
                <a class="navbar-brand" href="/Home"> <img height="35px" width="35px" src="/logo.png" alt=""> </a>
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="/Organ">Organ</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/List">List</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/Waiting">Waiting</a>
                    </li>
                  </ul>
              </nav>
          
              <div class="container">
          
                <div class="desc">
                  <h1>Fabric Care</h1>
                  <h2>One stop solution to cease waiting list manipulation and black marketing of the donated organs using hyperledger fabric.</h2>
                </div>
          
                <img id="anim" src="/anim.gif" alt="">
          
              </div>
                    
              <script
                        src="http://code.jquery.com/jquery-3.3.1.js"
                        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                        crossorigin="anonymous">
              </script>
          
</body>
</html>
