body{
  background-color:rgb(48,125,193);
}

#anim{
  float: right;
  width: 50%;
  height: 50%;
}

.desc{
  width: 50%;
  color: white;
  float: left;
  display: block;
  text-align: justify;
}

h1{
  font-size: 8.2vw;
}

h2{
  font-size: 2.4vw;
}

.container{
  padding: 30vh 0 20vh 0;
}
